@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  /* Removed @apply to avoid complications, using utility class on root div instead or via standard CSS */
  background-color: #111827;
  /* bg-gray-900 */
  color: white;
}

.mirrored {
  transform: scaleX(-1);
}